<header>
    <h1>Fixxo.</h1>
    <nav class="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">Categories</a>
            </li>
            <li>
                <a href="/classes">Product</a>
            </li>
            <li>
                <a href="/contact">Pages</a>
            </li>
        </ul>
    </nav>
</header>