<header class="header" id="header">
    <div class="header__container">
        <nav class="header__container__navigation">
            <ul class="header__container__navigation__menu">
                <li class="header__container__navigation__menu__logo">
                    <a href="/">Logo</a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Categories</a>
                </li>
                <li>
                    <a href="#">Product</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
            </ul>
        </nav>
        <nav class="header__container__navigation-user">
            <ul class="header__container__navigation-user__menu">
                <li class="header__container__navigation-user__menu">
                    <a href="#">
                        Login
                    </a>
                </li>
                <li>
                    <a href="#">
                        My Cart / $23.00
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>