@import './base/_reset';
@import './base/_normalize';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Path: views/scss/_variables.scss
@import './layout/_header';
@import './components/hero.scss';
@import 'components/category.scss';

.container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
}
