@import './base/_reset';
@import './base/_normalize';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Path: views/scss/_variables.scss
@import './layout/_header';

.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}